global
    maxconn 4096

defaults
    mode tcp
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend kube_api
    bind *:{{ k8s_api_port }}
    mode tcp
    default_backend masters

backend masters
{% for h in groups['masters'] %}
    server {{ h }} {{ hostvars[h].ansible_host }}:{{ k8s_api_port }} check
{% endfor %}
